<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PROTONED</a>

  <!--Toggle Button-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="mr-5"></li>
      <!-- Navbar routerlinks-->
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/']" routerLinkActive="router-link-active"  routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/news']" routerLinkActive="router-link-active"  routerLinkActive="active-link">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/events']" routerLinkActive="router-link-active"  routerLinkActive="active-link">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/music']" routerLinkActive="router-link-active"  routerLinkActive="active-link">Music</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/upcomming']" routerLinkActive="router-link-active"  routerLinkActive="active-link">Upcoming</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/merchandise']" routerLinkActive="router-link-active"  routerLinkActive="active-link">Merchandise</a>
      </li>
    </ul>
        <!--toggle darkmode / lightmode-->
    <div class="float-right">
      <button class="btn btn-outline-success mr-2">
        <i class="bi bi-sun mr-2"></i>
        <i class="bi bi-moon-fill"></i>
      </button>
    </div>
      <!--Navbar buttons-->
    <form class="d-flex" role="search">
      <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-outline-success mr-2" >Login</button>
      <button [routerLink]="['/signup']" routerLinkActive="router-link-active"  class="btn btn-outline-success" >Signup</button>
    </form>
  </div>
</nav>
