<!--Header-->
<div class="container ">
  <div class="jumbotron mt-3">
    <div class="blog-header display-4 text-center" >News Page</div>
    <div class="text-justify font-italic mt-1">
      <div class="lead">
      </div>
    </div>
    <hr>
    <div *ngFor="let headerNews of MultipleheaderNews">
    <!--contentful header-->
    <p class="lead-mb-0">
      <a class="text-dark font-weight-bold">{{headerNews.fields.headline1}}</a>
    </p>
    <p class="lead-mb-0">
      <a class="text-dark font-weight-bold">{{headerNews.fields.headline2}}</a>
    </p>
  </div>
  </div>

  <!--News-->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-between">
      <div class="card mb-3" style="max-width: 540px;" *ngFor="let news of multipleNews">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class=" d-none d-lg-block">
              <a><img src="{{news.fields.newsImage.fields.file.url}}" class="img-fluid" width="196"></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{news.fields.title}}</h5>
              <p class="card-text">{{news.fields.description}}</p>
              <a href="{{news.fields.url}}" target="_blank" class="btn btn-success btn-sm float-right">Go to Article</a>
              <p class="card-text"><small class="text-muted">{{news.fields.author}}</small></p>
            </div>
          </div>
        </div>
      </div>
      <!--smallNews-->
      <div class="card mb-3" style="max-width: 540px;" *ngFor="let smallNews of getMultiplesmallNews">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div class=" d-none d-lg-block">
              <a><img src="{{smallNews.fields.smallNewsImage.fields.file.url}}" class="img-fluid" width="196"></a>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title font-weight-bold">{{smallNews.fields.title}}</h5>
              <p class="card-text">{{smallNews.fields.description}}</p>
              <a href="{{smallNews.fields.url}}" target="_blank" class="btn btn-success btn-sm float-right">Go to Article</a>
              <p class="card-text"><small class="text-muted">{{smallNews.fields.author}}</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
