<!--Header-->
<div class="container d-flex justify-content-center">
  <div class="jumbotron bg-white mt-4 border border-1 border border-secondary">
    <h1 class="display-3 text-center text-secondary">Sign up now
      <hr>
    </h1>

    <!--rows-->
    <div class="row">
      <!--Columns-->
      <div class="col">
        <!--First Name-->
        <div class="mb-3">
          <label for="inputFirstName" class="form label">First Name</label>
          <input type="firstName" class="form-control" id="inputFirstNameId" placeholder="First Name">
        </div>
        <!--Username-->
        <div class="mb-3">
          <label for="inputUsername" class="form label">Username</label>
          <input type="userName" class="form-control" id="inputUsernameId" placeholder="Username">
        </div>
        <!--Password-->
        <div class="mb-3 ">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="col">
        <!--Last Name-->
        <div class="mb-3">
          <label for="inputLastName" class="form-label">Last Name</label>
          <input type="lastName" class="form-control" id="inputLastNameId" placeholder="Last Name">
        </div>
        <!--Email-->
        <div class="mb-3">
          <label for="inputEmail" class="form label">Email adress</label>
          <input type="email" class="form-control" id="inputEmailId" placeholder="Email ">
        </div>
        <!--Repeat password-->
        <div class="mb-3">
          <label for="inputRepeatPassword" class="form-label">Repeat Password</label>
          <input type="Password" class="form-control" id="inputRepeatPassword" placeholder="Repeat password">
        </div>
      </div>
    </div>
    <!--login button-->
    <div class="btn btn-success btn-block">Log in</div>
  </div>
</div>
