<p>signup med personlige oplysninger</p>
<p>skal gemmes i en database</p>
<p>Emailen skal bruges til newsletter (Hvis det ønskes)</p>
<p>((man skal kunne signe ind med facebook))</p>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>
                        <div class="mb-3">
                          <label for="InputEmail1" class="form-label">Email</label>
                          <input type="text" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                          <label for="InputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password">
                        </div>
                        <button type="button" class="btn btn-info">Register</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/login" style="text-decoration: none;">Already have an account? <span class="text-danger">Login</span></a>
                            </div>
                            <div class="col-md-6">
                                <a href="" class="text-dark" style="text-decoration: none;">Forgot Password?</a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
