<div *ngIf="product" class="container py-4">
  <div class="card" style="width: 19rem;">
    <img class="card-img-top mt-3" [src]=product.image style="width: 100px; height: 100px; margin: auto; ">
    <div class="card-body text-center">
      <h2 class="card-title text-truncate" style="max-width: 300px;">{{product.title}}</h2>
      <p class="card-text text-truncate">{{product.description}}</p>
      <div class="d-flex justify-content-between mt-2">
        <span class="text-success">{{ product.price | currency:'DKK ' }}</span>
        <button (click)="onAddToCart()" class="bg-white">
          <i class="bi bi-cart3" style="font-size: 1.3rem;"></i>
        </button>
      </div>
    </div>
  </div>
</div>
