<p>login med email</p>
<p>få en velkomst på navbar som hej (Brugernavn)</p>
<p>Kunne se events music og upcomming som betalende bruger</p>
<p>Login bliver til en logud button</p>
<p>Ændrer profil oplysninger</p>

<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="text" class="form-control" name="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password">
                        </div>
                        <button type="button" class="btn btn-info">Login</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/signup" style="text-decoration: none;">Need Account <span class="text-danger">Register</span></a>
                            </div>
                            <div class="col-md-6">
                                <a href="forgot-password" class="text-dark" style="text-decoration: none;">Forgot Password?</a>
                            </div>
                        </div>
                      </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


