<!--Header-->
<div class="container d-flex justify-content-center">
  <div class="jumbotron bg-white mt-4 border border-1 border border-secondary">
    <h1 class="display-3 text-center text-secondary">Login<hr></h1>
    <!--Email-->
    <div class="mb-3">
      <label for="inputEmail" class="form label">Email adress</label>
      <input type="email" class="form-control" id="inputEmailId" placeholder="Email ">
    </div>
    <!--Password-->
    <div class="mb-3">
      <label for="inputPassword" class="form-label">Password</label>
      <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
      <!--login button-->
      <div class="btn btn-success btn-block">Log in</div>
    <hr class="mt-3">
    <div class="text-center">
      <p>Not a member? <a href='#'>Signup here!</a></p>
    </div>
    <p class="text-center font-weight-bold display-4">PROTONED</p>
  </div>
</div>
