html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif; }

*{
  padding: 0;
  margin: 0;
}

body{
  height: 100vh;
}

.selector-for-some-widget {
  box-sizing: content-box;
}

:root{
  --primary-color: #3FC060;
  --secondary-color: #162328;
}


html, body { height: 100%; }
body{ margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

